@media (min-width: 601px) {
    .edit-listing-container-mobile {
        background: black;
    }
}

.editListingPage-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
}

.ListingsPage-search-bar input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.editListingPage-title{
    padding: 20px;
}

.editListingPage-image-preview{
    height: 300px;
    width: 300px;
}

.editListingPage-post-button{
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #f8b400;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editListPage-file-input{
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #f8b400;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}