/* Global styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
.landing-container {
    display: flex;
    height: 100vh;
    background-color: #FFFBEA; /* Off-white cream background */
    background-size: cover;
    background-position: center;
}
  
  
  /* Medium desktop */
  @media (min-width: 768px) {
    .landing-container {
      background-image: url('../images/slugmartBIG.jpg');
    }
  }
  
  /* Large desktop */
  @media (min-width: 1200px) {
    .landing-container {
      background-image: url('../images/slugmartBIG.jpg');
    }
  }
  
  /* Content inside the left third */
.landing-content {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 12rem auto;
    width: 30rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
.landing-content h1 {
    font-size: 2.5rem;
    color: #f7f7f7; /* Yellow color for the text */
}

.banana-slug-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.5rem;
    color: #fff;
    background-color: #f8b600e2; /* Banana slug yellow */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.banana-slug-button:hover {
    background-color: #ffd900c1; /* Slightly darker yellow on hover */
}

.ucsc-warning {
  padding-bottom: 20px;
  color: #fff;
  font-size: 10px;
}

.flex-container {
    display: flexbox;
    justify-content: space-around; /* Space the boxes evenly */
    padding: 0 5%; /* Add padding to keep it aligned within the window */
    height: 100vh;
    
}
  
.flex-box {
    width: 35%;
    height: 25%;
    background-color: rgba(255, 255, 255, 0.9); /* Light background for boxes */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-top: 15px;
}

.flex-box i {
    font-size: 2.5rem; /* Adjust the icon size */
    color: #f8b400; /* Banana slug yellow color for icons */
    margin-bottom: 5px;
}

.flex-box h3 {
    font-size: 1.5rem;
    color: #333;
}

.flex-box p {
    font-size: 1rem;
    color: #555;
}
