.ListingsPage-content {
  display: flex;
  position: relative;
}

.ListingsPage-sidebar {
  padding: 10px;
  width: 15%;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  background-color: #e9e6ed;
  scrollbar-color: #3f3e3e #e9e6ed;
  scrollbar-width: thin;
}

.ListingsPage-sidebar strong {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding: 5px 0;
}

.ListingsPage-browse-container {
  width: 80%;
  padding: 15px;
}

.ListingsPage-search-bar {
  width: 95%;
}

.ListingsPage-search-bar input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.ListingsPage-listings-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.ListingsPage-listing-card {
  display: flex;
  flex-direction: column;
  border: none;
  overflow: hidden;
  text-align: left;
  transition: transform 0.2s ease;
}

.ListingsPage-listing-card:hover {
  transform: scale(1.02);
}

.ListingsPage-listing-image-container {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.ListingsPage-listing-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px; /* Makes the bottom corners round */
}

.ListingsPage-listing-price {
  font-size: 1.2rem;
}

.ListingsPage-listing-title {
  font-size: 1rem;
}

.ListingsPage-category-button {
  width: 100%;
  padding: 10px;
  border: 1px none #ccc;
  border-radius: 10px;
  margin-bottom: 7px;
  margin-right: 7px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ListingsPage-category-button--active,
.ListingsPage-category-button:hover {
  background-color: #f8b400;
  color: black;
  border: none;
}

.ListingsPage-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ListingsPage-price-container label {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  padding: 4px;
}

.ListingsPage-price-row {
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 1rem;
}

.ListingsPage-form-input {
  width: 35%;
  height: 13px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


@media (max-width: 768px) {
  .ListingsPage-browse-container {
    padding: 10px;
  }

  .ListingsPage-search-bar input {
    padding: 8px;
    font-size: 0.9rem;
    margin-bottom: 15px;
  }

  .ListingsPage-listings-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .ListingsPage-search-bar input {
    padding: 6px;
    font-size: 0.85rem;
  }

  .ListingsPage-listing-card {
    padding: 8px;
  }
}
