.user-messages-container-centered {
    display: flex;
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    flex-direction: row;
}

@media (max-width: 768px) {
    .user-messages-container-centered {
        display: grid;
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        height: auto;
        background-color: #fff;
    }
}

.conversations-list {
    width: 30%;
    padding: 10px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .conversations-list {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #ccc;
    }
}

.conversation-item {
    border-bottom: 1px solid #eee;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 0;
    width: 100%;
}

.conversation-item.selected {
    background-color: #f0f0f0;
}

.chat-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

@media (max-width: 768px) {
    .chat-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chat-message {
    padding: 8px;
    margin: 5px 0;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
    word-break: break-word;
    display: inline-block;
}

@media (max-width: 768px) {
    .chat-message {
        max-width: 85%;
        padding: 8px;
    }
}

@media (max-width: 452px) {
    .chat-message {
        max-width: 90%;
    }
}

.chat-message.sent {
    background-color: #147efb;
    align-self: flex-end;
    border-radius: 20px;
    margin-top: 10px;
    max-width: 70%;
    padding: 10px;
    word-wrap: break-word;
    color: white;
    margin-left: 10%;
}

.chat-message.received {
    background-color: #e5e5ea;
    align-self: flex-start;
    border-radius: 20px;
    margin-top: 10px;
    max-width: 70%;
    padding: 10px;
    word-wrap: break-word;
    color: black;
    margin-right: 10%;
}

@media (max-width: 768px) {
    .chat-message.sent,
    .chat-message.received {
        max-width: 85%;
        padding: 8px;
    }

    .chat-message.sent {
        margin-left: 5%;
    }

    .chat-message.received {
        margin-right: 5%;
    }
}

@media (max-width: 452px) {
    .chat-message.sent,
    .chat-message.received {
        max-width: 90%;
        padding: 8px;
    }

    .chat-message.sent {
        margin-left: 5%;
    }

    .chat-message.received {
        margin-right: 5%;
    }
}

.chat-message.sent .chat-message-content {
    color: white;
}

.chat-message.received .chat-message-content {
    color: black;
}

.chat-message-content {
    word-wrap: break-word;
    font-size: 14px;
}

@media (max-width: 768px) {
    .chat-message-content {
        font-size: 14px;
    }
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.chat-input button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

@media (max-width: 580px) {
    .chat-input {
        width: 100%;
        flex-direction: column;
    }

    .chat-input input {
        width: 100%;
        margin-bottom: 10px;
    }

    .chat-input button {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .chat-input {
        padding: 8px;
    }

    .chat-input input {
        font-size: 14px;
    }

    .chat-input button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .user-messages-container-centered {
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .chat-container {
        width: 100%;
        padding: 10px;
    }
}

.delete-conversation-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
}

.delete-conversation-btn:hover {
    background-color: #cc0000;
}
